/* =============================================================================
   HTML5 CSS Reset Minified - Eric Meyer
   ========================================================================== */

html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
body{line-height:1}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
nav ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent;text-decoration:none}
mark{background-color:#ff9;;font-style:italic;font-weight:bold}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
input,select{vertical-align:middle}
li{list-style:none}


/* =============================================================================
   My CSS
   ========================================================================== */

/* ---- base ---- */

html,body{
	width:100%;
	height:100%;
}

html{
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body{
    font-family: 'Raleway', sans-serif;
		color:black;
}

canvas{
  display:block;
  vertical-align:bottom;
}


/*********************************************/

.container{
	position:absolute;
	top:0;
	left:50%;
	transform : translateX(-50%);
	padding:0;
	z-index: 100;
}

.title{
		text-align:center;
    color:#ff0000; 
    font-size:4em;
}
/******************** FONT AWESOME ICONES MODIFICATIONS *************************/
.iconeRouge{color:red;}

.fa-rotate-45{
-moz-transform: rotate(45deg);
-o-transform: rotate(45deg);
-webkit-transform: rotate(45deg);
transform: rotate(45deg);
-ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=0.7071067811865474, M12=-0.7071067811865477, M21=0.7071067811865477, M22=0.7071067811865474, SizingMethod='auto expand')";
filter: progid:DXImageTransform.Microsoft.Matrix(M11=0.7071067811865474,M12=-0.7071067811865477,M21=0.7071067811865477,M22=0.7071067811865474,SizingMethod='auto expand');
}
/********************************************************************************/

.alert-container{
	text-align:center;
	background-color:#aeaeae33;
	border-radius:10px;
	padding:40px 40px;
}

.oneAlert{
	cursor: pointer;
}

.thumbnail{
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
  transition: box-shadow 0.3s ease-in-out;
}

.thumbnail:hover{
   box-shadow: 0 10px 30px rgba(0,0,0,0.3);
	
}

.maps{
	height:200px;
}

.alertLabel{
	font-weight:900;
}

.heartrateLabel{
	font-weight:900;
}
.heartrate-div-parent{
	height:100%;
}
.heartrate-div{
    display: inline-block;
    vertical-align: middle;
    float: none;
}
.heartrate-icon{
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
}

::-webkit-scrollbar { 
    display: none; 
}

